/**
 * Detail
 * @author zhangds <zhudachang0832@gmail.com>
 * @date 2020-07-30 10:06:53
 * @since 0.1.0
 */
.Detail-main {
  margin-top: 70px;
}
.detail-head-type {
  height: auto;
  background-color: #1989fa;
  padding: 5px 15px;
}
.head-money-log {
  background-color: #1989fa;
  padding: 5px 15px;
}

.head-money-log span {
  color: #fff;
  font-size: 13px;
}
.box-center {
  display: flex;
  align-items: center;
}
.money-log-box {
  background-color: #f0f0f0;
}
.money-log-list {
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
}
.money-log-head {
  background-color: #f0f0f03b;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.money-log-title-s {
  font-size: 12px;
  padding: 2px;
  background-color: #cccccc3d;
}
.money-al-center {
  display: flex;
  align-items: center;
}
.money-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.money-log-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.money-log-main {
  background-color: #fff;
  border-radius: 10px;
}
.icon-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.money-row-list {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.money-list-title p {
  margin: 0;
}
.money-list-time-bz {
  font-size: 12px;
  color: #ccc;
  padding: 5px 0;
}
.border-s {
  border-bottom: 1px solid #f0f0f0f0;
  padding-bottom: 5px;
}
.detail-main-box {
  position: fixed;
  top: 46px;
  left: 0;
  width: 100%;
  height: 70px;
}
.addMoenyLogBtn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 10px;
  bottom: 100px;
  text-align: center;
  line-height: 40px;
}
.addMoenyLogBtn i {
  line-height: 40px;
}
